@model Mini_Bank.Models.ViewModels.UserWalletsViewModel

@using Mini_Bank.Extensions
@{
    ViewData["Title"] = "Wallets";

    TempData.Put("Model", Model);
}

<h1>@ViewData["Title"]</h1>

<partial name="_StatusMessage" for="@Model.Message" />

<p>
    <a class="btn btn-primary" asp-action="RequestWallet">Request New Wallet</a>
</p>

<div id="accordion">
    @foreach (var item in Model.Wallets)
    {
        <div class="card">
            <div class="card-header" id="@item.Heading">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#@item.RowId" aria-expanded="false" aria-controls="@item.RowId">
                        <text>Verified: @item.Verified | Date Created: @item.DateCreated | Wallet #: @item.Number</text>
                    </button>
                </h5>
            </div>
            <div id="@item.RowId" class="collapse" aria-labelledby="@item.Heading" data-parent="#accordion" style="">
                <div class="card-body">
                    @if (item.Accounts.Count > 0 && item.Verified.Equals("Yes"))
                    {
                        <table class="card-table table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <label asp-for="@item.Accounts.FirstOrDefault().IBAN"></label>
                                    </th>
                                    <th>
                                        <label asp-for="@item.Accounts.FirstOrDefault().Balance"></label>
                                    </th>
                                    <th>
                                        <label asp-for="@item.Accounts.FirstOrDefault().Currency"></label>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            @foreach (var acc in item.Accounts)
                            {
                                <tbody>
                                    <tr>
                                        <td>
                                            @acc.IBAN
                                        </td>
                                        <td>
                                            @acc.Balance.ToString("N")
                                        </td>
                                        <td>
                                            @acc.Currency
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" href="#" id="modal" data-toggle="modal" data-account="@acc.Id" data-target="#Modal">Transaction</a>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    }
                    else
                    {
                        <h5>No Accounts in wallet</h5>
                    }
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Modal">Send money!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <input id="hiddenId" type="hidden" asp-for="@Model.InputTransaction.FromAccountWithId" />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.InputTransaction.ToIBAN" class="control-label"></label>
                        <input asp-for="@Model.InputTransaction.ToIBAN" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.InputTransaction.Amount" class="control-label"></label>
                        <input asp-for="@Model.InputTransaction.Amount" class="form-control" min="0.00" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" asp-action="Transaction" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $('#Modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var id = button.data('account'); // Extract info from data-* attributes
            var model = $(this);
            model.find("#hiddenId").val(id);
        })
    </script>

    <partial name="_ValidationScriptsPartial" />
}
