@model Mini_Bank.Models.WalletModel

@{
    ViewData["Title"] = "DetailsWallets";
}

<h1>Details Wallets</h1>

<div>
    <h4>Details for selected Wallet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WalletStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WalletStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsVerified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsVerified)
        </dd>
    </dl>
</div>

@foreach (var account in Model.Accounts)
{
    @Html.Partial("~/Views/Account/DetailsAccount.cshtml", account)
}

<div>
    <a asp-action="DisplayWallets">Back to Wallet List</a>
</div>
