@model List<Mini_Bank.Models.WalletModel>

@{
    ViewData["Title"] = "DisplayWallets";
}

<h3>Wallets</h3>

@*Prints only if User has at least !ONE! wallet, otherwise give option to create first wallet (COMING SOON TM)*@
@if (@Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <label asp-for="@Model.FirstOrDefault().Id"></label>
                </th>
                <th>
                    <label asp-for="@Model.FirstOrDefault().Number"></label>
                </th>
                <th>
                    <label asp-for="@Model.FirstOrDefault().WalletStatusId"></label>
                </th>
                <th>
                    <label asp-for="@Model.FirstOrDefault().IsVerified"></label>
                </th>
                <th>
                    <label>Options</label>
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model)
    {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Number
                </td>
                <td>
                    @item.Status.Name
                </td>
                <td>
                    @item.IsVerified
                </td>
                <td>
                    <a asp-controller="Wallet" asp-action="DetailsWallet" asp-route-id=@item.Id>Details</a> |
                    <a asp-controller="Wallet" asp-action="EditWalletView" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Wallet" asp-action="DeleteWallet" asp-route-id="@item.Id">Delete</a> 
                </td>
            </tr>
    }
        </tbody>
    </table>
}
else
{
    <h4>No wallets</h4>
}
