@model List<Mini_Bank.Models.AccountModel>

@{
    ViewData["Title"] = "DisplayAccounts";
}

<h3>Accounts in Wallet</h3>

@*If wallet does not have any accounts below code should not print*@
@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <label asp-for="@Model.FirstOrDefault().Id"></label>
                </th>
                <th>
                    <label asp-for="@Model.FirstOrDefault().IBAN"></label>
                </th>
                <th>
                    <label asp-for="@Model.FirstOrDefault().Balance"></label>
                </th>
                <th>
                    <label asp-for="@Model.FirstOrDefault().CurrencyId"></label>
                </th>
                <th>
                    <label asp-for="@Model.FirstOrDefault().AccountStatusId"></label>
                </th>
                <th>
                    <label>Options</label>
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model)
    {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.IBAN
                </td>
                <td>
                    @item.Balance.ToString("{0:00}")
                </td>
                <td>
                    @item.Currency.Name
                </td>
                <td>
                    @item.Status.Name
                </td>
                <td>
                    <a asp-controller="Account" asp-action="DetailsAccount" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Account" asp-action="EditAccountView" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Account" asp-action="DeleteAccount" asp-route-id="@item.Id">Delete</a> 
                </td>
            </tr>
    }
        </tbody>
    </table>
}