@model IEnumerable<Mini_Bank.Models.AccountModel>

@{
    ViewData["Title"] = "DisplayAccounts";
}

<h1>DisplayAccounts</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="ToList()[0].Id"></label>
            </th>
            <th>
                <label asp-for="ToList()[0].IBAN"></label>
            </th>
            <th>
                <label asp-for="ToList()[0].Balance"></label>
            </th>
            <th>
                <label asp-for="ToList()[0].Currency"></label>
            </th>
            <th>
                <label asp-for="ToList()[0].AccountStatus"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IBAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountStatus)
            </td>
            <td>
                @Html.ActionLink("Details", "DetailsAccount", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
