@model List<Mini_Bank.Models.UserModel>

@{
    ViewData["Title"] = "DisplayUsers";
}

<h1>DisplayUsers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.FirstOrDefault().Id"></label>
            </th>
            <th>
                <label asp-for="@Model.FirstOrDefault().Email"></label>
            </th>
            <th>
                <label asp-for="@Model.FirstOrDefault().Password"></label>
            </th>
            <th>
                <label asp-for="@Model.FirstOrDefault().IsAdmin"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Password
            </td>
            <td>
                @item.IsAdmin
            </td>
            <td>
                <a asp-controller="User" asp-action="DetailsUser" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
