@model List<Mini_Bank.Models.UserModel>

@{
    ViewData["Title"] = "DisplayUsers";
}

<h1>User List</h1>

<form method="get" asp-controller="User" asp-action="FilterUser">
    <div class="form-group">
        <label asp-for="@Model.FirstOrDefault().Email" class="control-label">Find User by Email :</label>
        <input asp-for="@Model.FirstOrDefault().Email" value="" type="email" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<p><a asp-action="CreateUserView">Create User</a></p>

@*Should never throw out of bounds exception if at least !ONE! User is present*@
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.FirstOrDefault().Id"></label>
            </th>
            <th>
                <label asp-for="@Model.FirstOrDefault().Email"></label>
            </th>
            <th>
                <label asp-for="@Model.FirstOrDefault().IsAdmin"></label>
            </th>
            <th>
                <label>Options</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.IsAdmin
                </td>
                <td>
                    <a asp-controller="User" asp-action="DetailsUser" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="User" asp-action="EditUserView" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
