@model List<Mini_Bank.Models.RegistrantModel>

@{
    ViewData["Title"] = "DisplayRegistrants";
}

<h1>Registrants</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.FirstOrDefault().Id"></label>
            </th>
            <th>
                <label asp-for="@Model.FirstOrDefault().FirstName"></label>
            </th>
            <th>
                <label asp-for="@Model.FirstOrDefault().LastName"></label>
            </th>
            <th>
                <label asp-for="@Model.FirstOrDefault().Country"></label>
            </th>
            <th>
                <label asp-for="@Model.FirstOrDefault().Address"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.Country
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    <a asp-controller="Registrant" asp-action="DetailsRegistrant" asp-route-Id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
