@model List<Mini_Bank.Models.ViewModels.UserRoleViewModel>
@{
    ViewData["Title"] = "EditUsersInRole";

    var roleId = TempData.Peek("roleId");
}

<h4>Add or Remove users in role</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="EditUsersInRole">
            @for(int i = 0; i < Model.Count; i++)
            {
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="hidden" asp-for="@Model[i].UserId" />
                        <input type="hidden" asp-for="@Model[i].UserName" />
                        <input asp-for="@Model[i].IsSelected" class="custom-control-input" />
                        <label class="custom-control-label" asp-for="@Model[i].IsSelected">
                            @Model[i].UserName
                        </label>
                    </div>
                </div>
            }
            
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a asp-controller="Administration" asp-action="EditRole" asp-route-Id="@roleId" class="btn btn-primary">Cancel</a> 
            </div>
        </form>
    </div>
</div>